body{
		background-color:gray;
}

h1.logo{
	font-size: 44px;
	font-weight: 700;
	color: white;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-top: 50px;
	margin-bottom: 40px;
}
#topnav{
	background-color: #303030;
	text-align: center;
}

.menu
{
	list-style-type: none;
	margin: 0;
	padding: 10px;
	font-size: 18px;
	min-height: 38px;
	line-height: 200%;
}

.menu > li{
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	border-right: 1px dashed white;
}

.menu > li:first-child{
	border-left: 1px dashed white;
}

.menu a{
	color: white;
	text-decoration: none;
}

.menu a:hover{
	color: grey;
}
	
#content{
		min-height: 620px;
		padding: 10px;
		background-color: #dedede;
		margin-left:auto;
		margin-right:auto;
	}	
	
#footerlogo{
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		padding: 20px;
		text-transform: uppercase;
		color:white;
	}


