@import url('https://fonts.googleapis.com/css?family=Ubuntu:500&display=swap');

*{
	box-sizing : border-box;
	margin : 0;
	padding : 0;
	font-family : "Ubuntu", sand-serif;
	font-size:17px;
}
li, a {
	font-family : "Ubuntu", sand-serif;
	font-weight : 500;
	font-size : 18px;
	color : #7CC6FE;
	text-decoration : none;
}
header {
	display : flex;
	justify-content : flex-end;
	align-items : center;
	padding : 25px 3%;
	background-color : #002642;

}
h1.logo {
	font-family : "Ubuntu", sand-serif;
	margin-right : auto;
	color : #FFBF00;
	cursor : default;
	font-size : 26px;
}

.menu {
	list-style : none;
}
.menu li {
	display : inline-block;
	padding : 0px 20px;

}

.menu li  a {
	transition : all 0.2s ease 0s;

}
.menu li  a:hover{
	color : #FFBF00;
	text-decoration: none;
}

.group{
	min-height:600px;
	padding: 20px;
	background-color: #FFD045;
	margin-left:auto;
	margin-right:auto;
	box-sizing : border-box;
	float:left;

}
.group a{
	transition : all 0.2s ease 0s;
	color : #002642;
}
.group a:hover {
  color: #7CC6FE;
  text-decoration: none;
}
.project{
	min-height: 600px;
	padding: 20px;
	background-color: #FFFCFF;
	margin-left:auto;
	margin-right:auto;
	text-align:justify;
	float:right;
}
.project a{
	transition : all 0.2s ease 0s;
	color : #007DDD;
	font-size:17px;
}
.project a:hover {
  color: #7CC6FE;
  text-decoration: none;
}
.files{

	padding: 20px;
	background-color: #F6BBB4;
	margin-left:auto;
	margin-right:auto;
	text-align:justify;
}

footer {
	display : flex;
	justify-content :center;
	align-items : center;
	padding : 20px 5%;
	color:#7CC6FE;
	list-style : none;
	clear:both;
	background-color : #002642;
	text-decoration : none;
}


.inputfile,
    .uploadfile
    {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;

    }

    .inputfile + label,
    .uploadfile + label
    {
       width: 145px;
	   font-size: 1.25em;
        font-weight: 700;
		text-align: center;
        color: white;
        background-color: #FFBF00;
        padding: 16px;
        display: inline-block;
		border-radius:5px;
		box-sizing: border-box;
    }

    .inputfile + label,
    .uploadfile + label:hover
    {
        background-color: #FFBF00;
        cursor: pointer;
    }
.img-responsive {
    width:100%;
}
