{% extends "base.html" %}
{% block content1 %}
<style type="text/css"> {% include 'css1.css' %} </style>

<div class="row">
    <div class="col-sm-2 col-md-4 group">
        <p><a href="documentation?section=general"><span>General</span></a></p>
        <p><a href="/documentation?section=csv"><span>CSV</span></a></p>
        <p><a href="/documentation?section=txt"><span>TXT</span></a></p>
        <p><a href="/documentation?section=xl"><span>Excel Sheets</span></a></p>
        <p><a href="/documentation?section=json"><span>JSON</span></a></p>
        <p><a href="/documentation?section=edgelist"><span>Edge lists???</span></a></p>
    </div>
    <div class="col-sm-10 col-md-8 project">
{% if section == 'general' %}
<p>The adjacency matrix format is as follows: blablabla</p>
{% endif%}

{% if section == 'csv' %}
<p>Following the adjacency matrix format in CSV is as follows: blablabla</p>
{% endif%}

{% if section == 'txt' %}
<p>Following the adjacency matrix format in TXT is as follows: blablabla</p>
{% endif%}

{% if section == 'xl' %}
<p>Following the adjacency matrix format in Excel Sheets is as follows: blablabla</p>
{% endif%}

{% if section == 'json' %}
<p>Following the adjacency matrix format in JSON is as follows: blablabla</p>
{% endif%}
</div>
</div>
{% endblock content1 %}