 <style type="text/css">{% include 'css1.css' %}</style>
<form enctype = "multipart/form-data" action = "/files" method = "POST">
<br> </br>

	
    <input type = "file" id = "file" name = "file" class = "inputfile" onchange = "showFilename();" />
    <label for = "file">Choose a file</label>

    <span id = "filename"></span>
    <label for = "filename"></label>

    <br/> <br/>
    <input type = "submit" id = "submit" name = "submit" class = "uploadfile" />
    <label for = "submit">Upload</label>
</form>

{% with messages = get_flashed_messages(category_filter = ["error"]) %}
    {% if messages %}
        {% for message in messages %}
            <strong>Error: </strong> {{ message }}
        {% endfor %}
    {% endif %}
{% endwith %}

{% with messages = get_flashed_messages(category_filter = ["success"]) %}
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
{% endwith %}

<script>
    function showFilename() {
        var labels = document.getElementsByTagName("label");
        for (var i = 0; i < labels.length; i++) {
            if (labels[i].htmlFor != "") {
                 var elem = document.getElementById(labels[i].htmlFor);
                 if (elem)
                    elem.label = labels[i];
            }
        }
        var label = document.getElementById("filename").label;
        var labelVal = label.innerHTML;
        var fileName = "";
        fileName = document.getElementById("file").value.replace(/^.*[\\\/]/, "");

        if (fileName)
            label.innerHTML = "Selected file: ".bold() + fileName;
        else if (label.innerHTML.includes("Selected file:"))
            label.innerHTML = labelVal;
        else label.innerHTML = "Selected file: ".bold() + labelVal;
    }
</script>


