 <style type="text/css">{% include 'css1.css' %}</style>
 
{% if files %}<!--if there are files, list them-->
    <br> </br>
	<br> </br>
	<h1>Uploaded Files</h1>

    {% for file in files %}
        <!--link to file page, placeholder-->
        <p>
            <a href="/networks/{{file}}">{{file}}</a>
            <a href="/download?file={{file}}"><span style="float:right">Download</span></a>
            {% if file == last_file %}
                <a href="/close"> Close</a>
            {% endif %}
        </p>
    {% endfor %}
{% endif %}