<!-- Author: Theo -->

 <style type="text/css">{% include 'css1.css' %}</style>
<form enctype = "multipart/form-data" action = "/{{ url }}networks" method = "POST">
<br>

	
    <input type = "file" id = "file" name = "file" class = "inputfile" onchange = "showFilename();" />
    <label for = "file">Choose a file</label>
	
	<br>
    <span id = "filename"></span>
    <label for = "filename"></label>
<br>
    <div id="sep">
        <input type="text" id="sep" name="sep" />
        <label for="sep">Custom separator (optional)</label>
    </div>
    <div id="edgelist">
        <input type="checkbox" id="edgelist" name="edgelist" />
        <label for="edgelist">I am uploading an edge list dataset</label>
    </div>
	

   
    <input type = "submit" id = "submit" name = "submit" class = "uploadfile" />
    <label for = "submit">Upload</label>
</form>

{% with messages = get_flashed_messages(category_filter = ["error"]) %}
    {% if messages %}
        {% for message in messages %}
           <strong>Error: </strong> {{ message }}
        {% endfor %}
    {% endif %}
{% endwith %}

{% with messages = get_flashed_messages(category_filter = ["success"]) %}
    {% if messages %}
        {% for message in messages %}
           {{ message }}
        {% endfor %}
    {% endif %}
{% endwith %}

<script>
    function showFilename() {
        var labels = document.getElementsByTagName("label");
        for (var i = 0; i < labels.length; i++) {
            if (labels[i].htmlFor != "") {
                 var elem = document.getElementById(labels[i].htmlFor);
                 if (elem)
                    elem.label = labels[i];
            }
        }
        var label = document.getElementById("filename").label;
        var labelVal = label.innerHTML;
        var fileName = "";
        fileName = document.getElementById("file").value.replace(/^.*[\\\/]/, "");

        if (fileName)
            label.innerHTML = "Selected file: ".bold() + fileName;
        else if (label.innerHTML.includes("Selected file:"))
            label.innerHTML = labelVal;
        else label.innerHTML = "Selected file: ".bold() + labelVal;
    }
</script>


