 <style type="text/css">{% include 'css1.css' %}</style>
 
{% extends "base.html" %}

{% block content1 %}
The Group:
<br></br>
David Debnar
<br></br>
Joroen Oerlemans
<br></br>
Julian Dziegielewski
<br></br>
Sasha Gielis
<br></br>
Theo de Leeuw
<br></br>
{%endblock content1%}
{% block content2 %}
<h2>The path to Web-Based Network Visualization</h2>
    <p>
        Welcome to our web tool for Data Visualisation, this tool is designed for you to upload your
        data sets and display them in a various amount of views.
    </p>
    <p>
        To get started, go to the <a href="/files">Files</a> page and upload your own file or use one uploaded by your colleages o
    </p>
<br></br>
Enjoy watching video about our project!!
<br></br>
<center><iframe width="660" height="371" src="https://www.youtube.com/embed/nVmXsBNfwHY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
</iframe></center>
{%endblock content2%}
