 <style type="text/css">{% include 'css1.css' %}</style>
 
{% extends "base.html" %}
{% block content1 %}
<div class="row">
					<div class="col-sm-3 col-md-3  col-lg-4 group">
						Group 21
<br></br>
<div class="row">
	<div class="col-4 col-sm-9 col-md-6 col-lg-4">
		<figure>
			<img class="img-fluid" src="../static/mark.jpg" >
		</figure>
	</div>
	<div class="col-8 col-sm-11 col-md-11 col-lg-8">
		<p>
			David Debnar
		</p>
		<p>
			Scrum Master, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut.
		</p>
	</div>


<br></br>


	<div class="col-4 col-sm-9 col-md-6 col-lg-4">
		<figure>
			<img class="img-fluid" src="../static/jeroen.jpg" >
		</figure>
	</div>
	<div class="col-8 col-sm-11 col-md-11 col-lg-8">
		<p>
			Jeroen Oerlemans
		</p>
		<p>
			Visualisation specialist
		</p>
	</div>


<br></br>


	<div class="col-4 col-sm-9 col-md-6 col-lg-4">
		<figure>
			<img class="img-fluid" src="../static/julian1.jpg" >
		</figure>
	</div>
	<div class="col-8 col-sm-11 col-md-11 col-lg-8">
		<p>
			Julian Dziegielewski
		</p>
		<p>
			Front-end developer
		</p>
		
	</div>


<br></br>


	<div class="col-4 col-sm-9 col-md-6 col-lg-4">
		<figure>
			<img class="img-fluid" src="../static/sasha.jpg" >
		</figure>
	</div>
	<div class="col-8 col-sm-11 col-md-11 col-lg-8">
		<p>
			Sasha Gielis
		</p>
		<p>
			Data and alghoritms specialist
		</p>
	</div>


<br></br>


	<div class="col-4 col-sm-9 col-md-6 col-lg-4">
		<figure>
			<img class="img-fluid" src="../static/theo1.jpg" >
		</figure>	
	</div>
	<div class="col-8 col-sm-11 col-md-11 col-lg-8">
		
		<p>
			Theo de Leeuw	
		</p>
		<p>
			Data specialist
		</p>
	</div>
</div>
</div>
					<div class="col-sm-9 col-md-9 col-lg-8 project">
					
						<h2>The Path to Web-Based Network Visualization</h2>
						<p>
						Welcome to our web tool for Data Visualisation, this tool is designed for you to upload your
						data sets and display them in a various amount of views.
						</p>
						<p>
							To get started, go to the <a href="/files">Files</a> page and upload your own file or use one uploaded by your colleages o
						</p>

						<br>
						Enjoy watching <a href="/">video</a> about our project or reading our <a href="/thesis">thesis</a>!! 
						<br><br>
						{% block content4 %}
						<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/nVmXsBNfwHY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
						</iframe>
						</div>
						{% endblock content4%}
					</div> 
				</div> 
				{% endblock content1%}